<div id='about' ngClass='about-me-root-element'>

    <h3>
        <p>Get to know</p> About me
    </h3>
    <div ngClass='about-me-elements'>
        <div ngClass='imgs-element'>
            <img class='img-frame' src='https://www.w3schools.com/w3css/img_avatar3.png' alt='my-avatar' />
        </div>
        <div ngClass='about-me-experience-frame'>
            <div ngClass='details-info1'>
                <span ngClass='about-icons-class'>
                    <mat-icon class="details-info1-icon">whatshot</mat-icon>
                </span><br />
                2.5+ Years working experience <br /> with own projects
            </div>
            <div ngClass='details-info2'>
                <mat-icon class="details-info1-icon" >whatshot</mat-icon><br />
                Fully detalis about my projects in my <br />
                <a ngClass='github-link-icon' href='https://github.com/nlotoo' target="_blank" rel="noopener noreferrer">
                    <strong>GitHub</strong><br />
                </a>
            </div>

        </div>

    </div>
    <div ngClass='text-paragrph-about-me'>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nihil?<br /> Reprehenderit dolorum autem ab,
                facilis, necessitatibus cupiditate officiis eos mollitia corporis<br /> in nostrum. Vitae, tenetur,
                eaque dolorem sequi molestias atque <br />consequuntur cupiditate animi, quia expedita a mollitia neque
                possimus maxime.</p>
        </div>
    </div>
    <div class='lets-talk-button'>
        <div class='home-screen-buttons'>
            <a href="#contact">Let`s Talk</a>
            <!-- {/* <a to='#contact'>Let`s Talk</a> */} -->
        </div>
    </div>
</div>