<div id='home' class='homeScreen-root-element'>
    <div><img class='img-frame' src='https://www.w3schools.com/w3css/img_avatar3.png' alt='my-avatar' /></div>
    <div class="heading-txt">Hello i`m</div>
    <h3 class='my-name'>Yordan Nikolov</h3>
    <div class="heading-txt">Web Developer</div>
    <div class='home-screen-buttons'>

        <a href='../resoruces/Yordan Nikolov Junior web developer.pdf ' target="_blank" rel="noopener noreferrer"
            download>Download CV</a>
        <a href="#contact">Let`s Talk</a>

        <!-- <a to='#contact'>Let`s Talk</a> -->
    </div>
    <div class="home-screen-social-media-icon">
        <div>
            <a href='https://www.github.com/nlotoo' target="_blank" rel="noopener noreferrer">
                <img alt="social icon" src="../../../assets/images/clipart1799200.png">
  
                
                <!-- <i nz-icon nzType="github" nzTheme="outline"></i> -->
                <!-- <i nz-icon nzType="down-circle" nzTheme="twotone"></i> -->


            </a>
        </div>
        <div>
            <a href='https://www.linkedin.com/in/yordan-nikolov-84b98a1a9/' target="_blank" rel="noopener noreferrer">
                <img alt="socioal icon" src="../../../assets/images/linked-in-icon2.png">
                <!-- <i class='fab fa-linkedin fa-2x'>fa-2x</i><br/> -->
                <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
                <!-- <mat-icon>linkedin</mat-icon> -->

                <!-- <TiSocialLinkedinCircular /> -->
            </a>
        </div>
        <div>
            <a href='https://www.facebook.com/nlotoo93/' target="_blank" rel="noopener noreferrer">
      
                <img alt="socioal icon" src="../../../assets/images/facebook-icon2.png">

            </a>
        </div>
    </div>
    <div class="home-screen-scroll-down">
        <div>Scroll Down</div>
    </div>

</div>