<section id='contact' ngClass='main-root-cotanct-page'>

    <h4 ngClass='heading-contact-page'>Contact Me</h4>
    <div ngClass='contact-page-root'>
        <div ngClass='contact-me-a-tag'>
            <a href='mailto:nlotoo93@gmail.com'>
                <mat-icon> email</mat-icon><br />
                Email<br />
                (nlotoo93@gmail.com)<br />
                <strong> Send a message</strong>
            </a>
            <a href='http://m.me/nlotoo'  target="_blank" rel="noopener noreferrer" >
                <mat-icon> chat</mat-icon>
                <br />
                
                Messanger <br />
                (nlotoo)<br />
                <strong> Send a message</strong>

            </a >
            <a href='https://api.whatsapp.com/send?phone=07405608112' target="_blank" rel="noopener noreferrer">

                <mat-icon> chat_bubble_outline</mat-icon><br />
                WhatsApp <br />
                (Yordan Nikolov) <br/>
                +447405608112 <br />
            </a>
        </div>
        <app-contact-form></app-contact-form>
        <!-- <ContatctForm /> -->
    </div>
</section>