<section id='portfolio' ngClass="portfolio-root-element">

    <h3><p>My Recent Work</p>Portfolio</h3>

    <div ngClass='portfolio-project-elements'>
        <div ngClass='project-element'>
            <img ngClass='portfolio-image-element' src="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvamVjdHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Smiley face" />
            <p>Pet Catalog <br />
                (ReactJS application)</p>
            <a href="#">view in Github</a>
        </div>
        <div ngClass='project-element'>
            <img ngClass='portfolio-image-element' src="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvamVjdHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Smiley face" />
            <p>Washup<br/>
            (Angular application)
            </p>
            <a href="#">view in Github</a>
        </div>

        <div ngClass='project-element'>
            <img ngClass='portfolio-image-element' src="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvamVjdHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="Smiley face" />
            <p>My portfolio <br/>
                (ReactJS application)
            </p>
            <a href="#">view in Github</a>

        </div>
    </div>

</section>