<nav class='nav-paf'>
    <ul class='navigation-menu'>

        <li>
            <!-- <a (click)={()=> setActiveNav('#')} className={activeNav === '#' ? 'active-a-tag' : ''} href="#home">
                <AiOutlineHome /> 
            </a> -->home
        </li>
        <li>
            <!-- <a onClick={()=> setActiveNav('#about')} className={activeNav === '#about' ? 'active-a-tag' : ''}
                href="#about">
                <AiOutlineUser />
            </a> --> about
        </li>
        <li>
            <!-- <a onClick={()=> setActiveNav('#experience')} className={activeNav === '#experience' ? 'active-a-tag' : ''}
                href="#experience">
                <BiGitBranch />
            </a> -->
            exp
        </li>

        <li>
            <!-- <a onClick={()=> setActiveNav('#portfolio')} className={activeNav === '#portfolio' ? 'active-a-tag' : ''}
                href="#portfolio">
                <MdWorkOutline />
            </a> --> portfolio
        </li>
        <li>
            <!-- <a onClick={()=> setActiveNav('#contact')} className={activeNav === '#contact' ? 'active-a-tag' : ''}
                href="#contact">
                <BiMessageDetail />
            </a> --> concatact
        </li>

    </ul>
</nav>