<nav class='nav-paf'>
    <ul class='navigation-menu'>

        <li>


            <a (click)="setACtiveNav('#')" href="#home" ngClass={{ActiveNav}}>home </a>
        </li>
        <li>
   
            <a (click)="setACtiveNav('#about')" href="#about" ngClass={{ActiveNavAbout}}>About</a>
        </li>
        <li>
   
            <a (click)="setACtiveNav('#experience')" href="#experience" ngClass={{ActiveNavExperience}}>Exp</a>
        </li>

        <li>
     
            <a (click)="setACtiveNav('#portfolio')" href="#portfolio" ngClass={{ActiveNavPortfolio}}>Portfolio</a>
        </li>
        <li>
  
            <a (click)="setACtiveNav('#contact')" href="#contact" ngClass={{ActiveNavContact}}>Contact me</a>
        </li>

    </ul>
</nav>