<section ngClass="experience-root-element" id='experience'>
    <h2><p>What skill i have</p>Experience</h2>


    <div ngClass='experience-skill-frame'>
        <div ngClass='front-end-skills'>
            <h5>Fontend Development</h5>
            <div>
                <ul>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> HTML</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> CSS</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> JavaScript</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> Angular</li>



                </ul>
                <ul>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> React</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> Bootstrap</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> MUI</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> Adobe Photoshop</li>

                </ul>
            </div>
        </div>
        <div ngClass='back-end-skills'>
            <h5>Backend Development</h5>
            <div>
                <ul>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> Node.js</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> Express</li>




                </ul>
                <ul>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> MongoDB</li>
                    <li><i ngClass='li-icon-class'><mat-icon>check_circle_outline</mat-icon></i> Firebase</li>

                </ul>
            </div>
        </div>

    </div>
</section >